.App {
  font-family: sans-serif;
  text-align: center;
}
.profile-pic{

  height: 300px;
  width: 300px;
  object-fit:cover;
  }
.btn-like,.btn-dislike{
  font-size:1.5rem;
}
.btn-like{
  margin-right :0.5rem;
}
.user-container{
  /* border-top:5px solid orange; */
  padding:2rem;
}